body {
    position: relative;
    width: 1440px;
    height: 770px;
    background-image: url(./imagenes/fondo-codigos.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    height: 770px;
    background-image: url(./imagenes/fondo-codigos.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

header h1{
    font-size: 30px;
    font-weight: bold;
    margin: 40px 300px;
    color:black;
    text-decoration: underline;
    transition: 1s;
    text-align: center;
    /* background-color:rgba(173, 216, 230, 0.575); */
    background: wheat;
    padding: 10px 10px;
    border-radius: 30px;
}

.logo {
    position: static;
    height: 48px;
    width: 90px;
    border-radius: 0px;
    flex: none;
	order: 0;
	flex-grow: 0;
	margin: 40px 0px;
    background: rgba(173, 216, 230, 0.575);
    border-radius: 50px;
}

.pantallaResultados{
    position: absolute;
    width: 400px;
    height: 600px;
    left: 850px;
    top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 1);
    border-radius: 32px;
    opacity: 80%;
}

.borrar{
    display: none;
}

.resultadosTexto {
    width: 336px;
    height: 600px;
    margin:32px auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
}

.btn-copiar{
    position: absolute;
    width: 336px;
    height: 67px;
    left: 32px;
    top: 490px;
    margin-bottom:32px;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    transition: 1s;
}

.btn-copiar:hover{
    background:rgb(11, 94, 11);
    font-size: 17px;
    color: white;
}

/* Ingresa el texto que desees encriptar o desencriptar. */
.detalleUsuario{
    position: absolute;
    width: 400px;
    height: 48px;
    margin: 395px auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

/* Ningún mensaje fue encontrado */
.infoUsuario{
    position: absolute;
    width: 400px;
    height: 58px;
    margin: 365px auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

/* Muñeco */
.munheco{
    position: absolute;
    width: 336px;
    height: 304px;
    margin: 80px 32px;
}

/* Frame 1 */
.frame1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 320px;
    height: 18px;
    left: 110px;
    top: 480px;
}

.instruccionesUsuario{
    /* Solo letras minúsculas y sin acentos */
    margin: 0px 3px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color:white;
    opacity: 0.8;
}

.fa{
    width: 16px;
    height: 16px;
    left: 0px;
    top: 1px;
}

.cuerpoMensaje{
    position: absolute;
    width: 680px;
    height: 288px;
    left: 110px;
    top: 168px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border-radius: 15px;
    opacity: 0.8;
}

/* Button encriptar*/
.btn-encriptar{
    margin: 420px 0 24px 110px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    font-size: 16px;
    transition: 1s;
    /* box-shadow: 0px 24px 32px -8px; */
}

.btn-encriptar:hover{
    background: #FFFFFF;
    color: #0A3871;
    font-weight: bold;
    font-size: 17px;
}

/* Button desencriptar */
.btn-desencriptar{
    margin: 0 24px;
    padding: 24px;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    transition: 700ms;
    background: lightblue;
   /*  box-shadow: 0px 24px 32px -8px; */
}

.btn-desencriptar:hover{
    background: #FFFFFF;
    color: #0A3871;
    font-weight: bold;
    font-size: 17px;
    border-color: gray;
}

.datosFooter {
    display: flex;
    margin: 30px; 
    padding-bottom: 20px;
}

.datosFooter p{
    color: black;
    font-size:20px;
    font-weight: bold;
    padding:3px;
    background: rgba(173, 216, 230, 0.575);
    border-radius: 50px;;
}

.datosFooter p{
    color: black;
    font-size:20px;
    font-weight: bold;
    padding:3px;
    background: rgba(173, 216, 230, 0.575);
    border-radius: 50px;
}

.datosPrincipales {
    margin: auto 10px;
    display: block;
}